<nav>
  
    <img src="/public/img/logo.png" alt="logo">

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/catalog">All Posts</a></li>
        {{#if user}}
        <li><a href="#">Create Post</a></li>
        <li><a href="#">Posts of {{email-of-user}}</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{else}}
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/login">Login</a></li>
        {{/if}}
    </ul>

</nav>