<nav>
  
    <img src="public/img/logo.png" alt="logo">

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">All Posts</a></li>
        <!-- Logged users -->
        <li><a href="#">Create Post</a></li>
        <li><a href="#">Posts of {{email-of-user}}</a></li>
        <li><a href="#">Logout</a></li>
        <!-- Guest users -->
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
    </ul>

</nav>