<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

   
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    {{> navigation }}

    <div id="box">

        <!-- In case of error, you should display div with class "error-container" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
        <!--
        <div class="error-container">
            <p>Error</p>
        </div>-->



    </div>

    {{{ body }}}

    {{> footer }}

</body>

</html>