<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>


    <link href="/public/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    {{> navigation }}

    <div id="box">

        {{#if errors}}
        <div class="error-container">
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        {{/if}}


    </div>

    {{{ body }}}

    {{> footer }}

</body>

</html>